.header {
    display: flex;
    margin-top: 15px;
}

.header__left {
    color: darkblue;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;

}

.header__right {
    margin-right: 0;
    margin-left: auto;
    
    
}

li {
    display: inline-block;
    margin: 0 8px 50px 8px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: darkblue;
    font-size: 15px;
}

.main {
    max-width: 1500px;
    width: 100%;
}


.img {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 0 0 auto;
    position: relative;
    z-index: 2;
    
}

.content-wrap {
    max-width: 1500px;
    width: auto;
    
    position: relative;
    bottom: 150px;
    z-index: 1;
}

.comment {
    font-size: 5vw;
    font-weight: normal;
    margin-bottom: 0;
    width: auto;
}


.blue-box {
    background-color: darkblue;
    width: 80%;
    height: 200px;
    margin-top: 0;

}
