.header {
    display: flex;
}

.header__left {
    color: darkblue;
    font-weight: bold;
    margin-left: 10px;
}

.header__right {
    margin-right: 0;
    margin-left: auto;
    
    
}

li {
    display: inline-block;
    margin: 0 10px 20px 10px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: darkblue;
    font-size: 10px;
}

.content {
    
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: 0 0 0 auto;
    position: relative;
    z-index: 2;
}

.content-wrap {
    position: relative;
    bottom: 150px;
    z-index: 1;
}

.comment {
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 0;
}


.blue-box {
    background-color: darkblue;
    width: 550px;
    height: 100px;
    margin-top: 0;
}
